.amine {
  justify-content: center;
  text-align: center;
  background-color: #001f3f;
  min-height: 100vh;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

#load-more {
  width: 10vw;
  height: 2rem;
  border: none;
  background-color: #191970;
  font-family: system-ui;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 2rem;
  color: aqua;
}

#loading-text {
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  margin: 8rem;
  color: white;
}
