.amine {
  justify-content: center;
  text-align: center;
  background-color: #001f3f;
  min-height: 100vh;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 2fr));
  grid-gap: 2.5rem;
  gap: 2.5rem;
  margin: 2rem 0;
}

#load-more {
  width: 4;
  height: 4rem;
  border: 2px solid aqua;
  background-color: #191970;
  font-family: system-ui;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 2rem;
  color: aqua;
}
