.card {
  width: 260px;
  overflow: hidden;
  margin: 30px;
  border: 1px solid;
  box-shadow: 5px 5px 4px 0px black;
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.03);
}
.card img {
  max-width: 100%;
  height: 20rem;
  object-fit: cover;
}
.card .text {
  padding: 0 20px 20px;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
  font-family: "Josefin Sans", sans-serif;
}
