.search-bar {
  margin-top: 2rem;
  width: 100%;
  border: 4px solid #d2691e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  max-width: 640px;
  padding: 4px;
}

.search-bar input {
  width: 75%;
  background-color: #001f3f;
  border: none;
  height: 2rem;
  color: white;
  outline: none;
  font-size: 1rem;
  letter-spacing: 1px;
}
.search-bar input::placeholder {
  color: white;
  padding: 2px;
}
.search-bar button {
  width: 15%;
  height: 2rem;
  border: none;
  background-color: #d2691e;
  /* background-image: radial-gradient( circle 610px at 5.2% 51.6%, rgba(5, 8, 114, 1) 0%, rgba(7, 3, 53, 1) 97.5% ); */
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: bolder;
  color: white;
  letter-spacing: 2px;
}
